[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==4.1.3"
"django-bootstrap4" = "==22.2"
celery = "==5.2.7"
redis = "==4.3.3"
librosa = "==0.9.1"
torch = "==1.13.0"
torchaudio = "==0.13.0"
pyzmq = "==23.1.0"
transformers = "==4.20.1"
kenlm = {git = "https://github.com/kpu/kenlm.git"}
loguru = "==0.6.0"
psutil = "==5.9.1"
pyctcdecode = "==0.3.0"
Cython = "==0.29.32"
nemo-toolkit = {extras = ["asr"], version = "==1.12.0"}
whisper = {git = "https://github.com/openai/whisper.git"}
lingua-language-detector = "==1.1.3"
pyloudnorm = {git = "https://github.com/csteinmetz1/pyloudnorm.git"}
Gammatone = {git = "https://github.com/detly/gammatone.git"}
"pyannote.audio" = {ref = "fd536f5", git = "https://github.com/egorsmkv/pyannote-audio"}
